body {
  margin: 0;
  padding: 0;

  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;

  background-color: #ffffff;
}

main {
  padding: 20px 20px 120px 20px;

  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  color: #212121;

}
h2 {
  font-size: 28px;
  color: #212121;
  color: #858585;
}
