body {
  margin: 0;
  padding: 0;

  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;

  background-color: #ffffff;
}

main {
  padding: 20px 20px 120px 20px;

  text-align: center;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -1px;
  color: #252525;
}

p {
  font-size: 20px;
  margin: 20px 0;
}

a:link, a:visited {
  color: #181818;
  text-decoration: underline
  font-size: 20px;
}

a:hover {
  text-decoration: none
}
